// use public repository
registry=https://registry.npmjs.org/
// use public repository for scoped packages
@*registry=https://registry.npmjs.org/
// use public repository for private packages
// @*registry=https://registry.npmjs.org/
// use public repository for private packages
// @*registry=https://registry.npmjs.org/